**/logs
**/node_modules
**/dist
.git
npm-debug.log
.coverage
.coverage.*
.env
.aws
**/kubernetes
# Secrets and more
ipam-firewall-ssi.yaml
config/*
secrets/*
secrets.yaml
config.yaml
#Certs
*.pem
*.key
*.csr
*.p12
*.pfx
*.cer
*.crt
!ca_chain.crt
# Packages
*.tgz