apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: ipam-firewall-ssi-high-test
  namespace: argocd

spec:
  destination:
    namespace: ssi
    server: https://kubernetes.default.svc
  project: default
  source:
    chart: ipam-firewall-ssi
    helm:
      valueFiles:
      - values.yaml
      - env/test.yaml # prod, qa, test
      parameters:
        - name: schedule
          value: "*/15 * * * *" 
        - name: settings.priority
          value: high # low, medium, high
        - name: credentials.namToken
          value: "<your-nam-token-here>"
        - name: credentials.splunkToken
          value: "<your-splunk-token-here>" 
    repoURL: ncr.sky.nhn.no/kevvat-test-helm
    targetRevision: "*"
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
    - CreateNamespace=true