apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: ipam-firewall-ssi-low-qa #ipam-firewall-ssi-<priority>-<environment>
  namespace: argocd

spec:
  destination:
    namespace: ssi
    server: https://kubernetes.default.svc
  project: default
  source:
    chart: dcn-ipam-firewall-ssi
    helm:
      valueFiles:
        - values.yaml
        - env/qa.yaml # Environments test, qa, prod
      parameters:
        - name: settings.continuousMode
          value: "true" # True for continuous mode (Pod), false for one shot mode (CronJob)
        - name: settings.interval
          value: "300" #Seconds for continuous mode (Pod)
        - name: schedule
          value: "*/5 * * * *" # Used for one shot mode (CronJob)
        - name: settings.priority
          value: "low" # high, medium, low
        - name: credentials.namToken
          value: "<NAM_TOKEN_HERE>"
        - name: credentials.splunkToken
          value: "<SPLUNK_TOKEN_HERE>"
        - name: alarmathan.enable
          value: "true" # True to enable PrometheusRule
        - name: alarmathan.environment
          value: "prod" # 'prod' for Production and 'test' for Test environment
        - name: alarmathan.varseltilos
          value: "prod" # 'prod' for Production and 'test' for Test logging destination
    repoURL: ncr.sky.nhn.no/ghcr/norskhelsenett/helm
    targetRevision: "*"
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
